<%= form_for(@curruser ||= User.new, html: { novalidate: true }) do |f| %>

  <div class="row">
    <div class="col-lg-6">
	  <div class="card">
	  <div class="card-header"><b>User Credentials</b></div>
        <div class="card-body">

          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:email) ? 'is-invalid' : 'is-valid') : '' }" %>
          <% if @curruser.errors.key?(:email) %>
            <div class="invalid-feedback-rails" >
              Email <%= @curruser.errors[:email][0] %>
            </div>
          <% end %>

          <%= f.label :password, "New Password" %>
          <%= f.password_field :password, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:password) ? 'is-invalid' : 'is-valid') : '' }" %>
          <% if @curruser.errors.key?(:password) %>
            <div class="invalid-feedback-rails" >
              Password <%= @curruser.errors[:password][0] %>
            </div>
          <% end %>

          <%= f.label :password_confirmation, "New Password Confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:password_confirmation) ? 'is-invalid' : 'is-valid') : '' }" %>
          <% if @curruser.errors.key?(:password_confirmation) %>
            <div class="invalid-feedback-rails" >
              Password confirmation <%= @curruser.errors[:password_confirmation][0] %>
            </div>
          <% end %>
  
          <%= label_tag :oldpassword, "Old Password" %>
          <%= password_field_tag :oldpassword, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:oldpassword) ? 'is-invalid' : 'is-valid') : '' }" %>
          <% if @curruser.errors.key?(:oldpassword) %>
            <div class="invalid-feedback-rails" >
              <%= @curruser.errors[:oldpassword][0] %>
            </div>
          <% end %>

          <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6">
	  <div class="card">
	  <div class="card-header"><b>Site Settings</b></div>
        <div class="card-body">
            
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:avatar) ? 'is-invalid' : 'is-valid') : '' }"  %>
          <% if @curruser.errors.key?(:avatar) %>
            <div class="invalid-feedback-rails" >
              Avatar <%= @curruser.errors[:avatar][0] %>
            </div>
          <% end %>

          <%= f.label :nsfw_level, "Content Filter Level" %>
          <%= f.select :nsfw_level,  options_for_select([['Safe', 1], ['Questionable', 2], ['Explicit', 3]], @curruser.nsfw_level), {}, class: "form-control #{@curruser.errors.any? ? (@curruser.errors.key?(:nsfw_level) ? 'is-invalid' : 'is-valid') : '' }" %>
          <% if @curruser.errors.key?(:nsfw_level) %>
            <div class="invalid-feedback-rails" >
              NSFW Level <%= @curruser.errors[:nsfw_level][0] %>
            </div>
          <% end %>

          <%= f.label :external_api do %>
            <%= f.check_box :enabled_api, class: "inline-checkbox" %>
            Enable External API
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>