<div class="container-fluid">
<br>

<p class="h2">User List</p>

<table class="table">
  <thead>
    <tr style="border-bottom: none;">
      <th scope="col" colspan="2"></th>
      <th scope="col" colspan="3" style="text-align: center;">DAD Participation</th>
      <th scope="col" colspan="4" style="text-align: center;">Seasonal Participation</th>
    </tr>
    <tr>
      <th scope="col">ICO</th>
      <th scope="col">Name</th>
      <th scope="col">Current Streak</th>
      <th scope="col">Max Streak</th>
      <th scope="col">Post Frequency</th>
      <th scope="col">Spring</th>
      <th scope="col">Summer</th>
      <th scope="col">Fall</th>
      <th scope="col">Winter</th>
    </tr>
  </thead>

  <tbody>
    <% seasonChallengeIds = getLatestSeasonalChallenges %>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag getUserThumb(user), :width => "25px" %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= getUserCurrentDADScore(user) %></td>
        <td><%= user.longest_streak %></td>
        <td><%= postfrequencyToString(getUserDADFrequency(user)) %></td></td>
        <td><%= "#{getUserScoreByChallenge(user, seasonChallengeIds[0])}/#{getDaysInChallenge(seasonChallengeIds[0])}" %></td>
        <td><%= "#{getUserScoreByChallenge(user, seasonChallengeIds[1])}/#{getDaysInChallenge(seasonChallengeIds[1])}" %></td>
        <td><%= "#{getUserScoreByChallenge(user, seasonChallengeIds[2])}/#{getDaysInChallenge(seasonChallengeIds[2])}" %></td>
        <td><%= "#{getUserScoreByChallenge(user, seasonChallengeIds[3])}/#{getDaysInChallenge(seasonChallengeIds[3])}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
