<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<% provide(:title, @curruser.name) %>
<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-2">
      
      <div class="card">
        <div class="card-body table-responsive" style="text-align: center;">
        <div class="avatarWithName">
        <div class="avatarUserName"><%= @curruser.name %></div>
          <span class="fullSizeAvatar">
            <% seasonChallengeIds = getLatestSeasonalChallenges %>
            <% userDADScore = getUserCurrentDADScore(@curruser) %>
            
            <% if userDADScore != "None" %>
              <% nextLvl = BadgeMap.where("required_score > :current_score AND challenge_id = :challengeId", {current_score: userDADScore, challengeId: 1}).order("required_score ASC").first %>
              <% prevLvl = BadgeMap.where("required_score <= :current_score AND challenge_id = :challengeId", {current_score: userDADScore, challengeId: 1}).order("required_score DESC").first %>
            <% else %>
              <% toNextLvl = 0 %>
              <% prevLvl = 0 %>
            <% end %>
            
            <% winterAward = getAwardByUserAndChallenge(seasonChallengeIds[3], @curruser) %>
            <% springAward = getAwardByUserAndChallenge(seasonChallengeIds[0], @curruser) %>
            <% summerAward = getAwardByUserAndChallenge(seasonChallengeIds[1], @curruser) %>
            <% autumnAward = getAwardByUserAndChallenge(seasonChallengeIds[2], @curruser) %>
            
            <%= image_tag getUserThumb(@curruser), :title => "#{postfrequencyToString(getUserDADFrequency(@curruser), true)}", :data => { :toggle => "tooltip", :placement => "top" } %>
            <div class=<%= "winter#{winterAward.prestige unless winterAward.blank?}" %>></div>
            <div class=<%= "spring#{springAward.prestige unless springAward.blank?}" %>></div>
            <div class=<%= "summer#{summerAward.prestige unless summerAward.blank?}" %>></div>
            <div class=<%= "autumn#{autumnAward.prestige unless autumnAward.blank?}" %>></div>
            
            <div style="margin-top: 5px;" data-toggle="tooltip" data-placement="top" title="Record Streak: <%= @curruser.longest_streak %> (Level <%= getUserMaxLevel(@curruser) %>)" >
              <div class="levelOverlay unselectable">
                <% if userDADScore != "None" %>
                  <%= "#{userDADScore}/#{nextLvl.required_score} to lvl #{nextLvl.prestige}" %>
                <% else %>
                  No Active Streak
                <% end %>
              </div>
              <div class="progress" >
                <% barPercent = (userDADScore == "None") ? 0 : (100.0*(userDADScore - (prevLvl.blank? ? 0 : prevLvl.required_score)).to_f)/(nextLvl.required_score - (prevLvl.blank? ? 0 : prevLvl.required_score)).to_f %>
                <div class="progress-bar progress-bar-experience" role="progressbar" style="width: <%= barPercent %>%" aria-valuenow="<%= barPercent %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
          </span>
          </div>
          
          <% if logged_in? && current_user.id == @curruser.id %>
            <br>
            <a class="btn btn-primary" href="<%= edit_user_path(@curruser) %>">
	            <span class="fa fa-edit"></span> Edit Profile
	          </a>
	        <% end %>
	        
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-8">
      
      <div class="card">
        <div class="card-header"><b>Badges Awarded</b></div>
        <div class="card-body">
          <p class="card-text">
            <% @awards.each do |award| %>
              <% badgeURL = getBadgeImage(award.badge) %>
              <%= image_tag badgeURL, :class => "prestige#{award.prestige}", :data => {:content => "<p style='font-weight: 600;'>#{award.badge.name}</p>#{simple_format(BadgeMap.find_by({:badge_id => award.badge.id, :prestige => award.prestige}).description)} (Prestige Level: #{award.prestige})", :trigger => "hover", :toggle => "popover", :placement => "top", :html => "true"} %> 
            <% end %>
            <% if @awards.blank? %>
              No badges awarded yet!
            <% end %>
          </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          <b>Latest Submissions</b>
          <a class="btn btn-primary" style="float: right; margin-top: -0.25rem; margin-bottom: -0.5rem;" href="<%= @curruser.id %>/submissions">
	          <i class="fa fa-picture-o" aria-hidden="true"></i> Show All Submissions
	        </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            <% @submissions.each do |submission| %>
              <% submissionUrl = getSubmissionAvatar(submission) %>
              <%= link_to image_tag(submissionUrl), url_for({:controller => 'submissions', :action => 'show', :id => submission.id}), :class => 'quick' %>
            <% end %>
          </p>
        </div>
      </div>
      
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>

</div>
