<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<% provide(:title, @curruser.username) %>
<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-2">
      
      <div class="card">
        <div class="card-body table-responsive" style="text-align: center;">
          <%= render partial: "application/usercard", locals: { user: @curruser } %>
          
          <% if logged_in? && current_user.id == @curruser.id %>
            <br>
            <a class="btn btn-primary" href="<%= edit_user_path(@curruser) %>">
	            <span class="fa fa-edit"></span> Edit Profile
	          </a>
	        <% end %>
	        
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-8">
      
      <div class="card">
        <div class="card-header"><b>Badges Awarded</b></div>
        <div class="card-body">
          <p class="card-text">
            <% @awards.each do |award| %>
              <% badge = award.badge %>
              <% badgeURL = safe_badge_avatar(badge) %>
              <%= link_to image_tag(badgeURL, :class => "prestige#{award.prestige}", :data => {:content => "<p style='font-weight: 600;'>#{award.badge.name}</p>#{simple_format(BadgeMap.find_by({:badge_id => award.badge.id, :prestige => award.prestige}).description)} (Prestige Level: #{award.prestige})", :trigger => "hover", :toggle => "popover", :placement => "top", :html => "true", :alt => "#{award.badge.name}" }), challenge_path(badge.challenge_id) %> 
            <% end %>
            <% if @awards.blank? %>
              No badges awarded yet!
            <% end %>
          </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          <b>Latest Submissions</b>
          <a class="btn btn-primary" style="float: right; margin-top: -0.25rem; margin-bottom: -0.5rem;" href="<%= @curruser.id %>/submissions">
	          <i class="fa fa-picture-o" aria-hidden="true"></i> Show All Submissions
	        </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            <% @submissions.each do |submission| %>
              <% submissionUrl = safe_submission_avatar(submission) %>
              <%= link_to image_tag(submissionUrl, alt: "#{submission.display_title}", width: '60px', height: '60px'), url_for({:controller => 'submissions', :action => 'show', :id => submission.id}) %>
            <% end %>
          </p>
        </div>
      </div>
      
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>

</div>
