<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<% provide(:title, @user.name) %>
<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-2">
      
      <div class="card">
	      <div class="card-header" style="text-align: center;"><b><%= @user.name %></b></div>
        <div class="card-body table-responsive" style="text-align: center;">
          <%= image_tag getUserThumb(@user) %><br><br>
          Longest Streak: <%= @user.longest_streak %><br>
	        DAD Frequency: <%= postfrequencyToString(getUserDADFrequency(@user)) %>
          <% if logged_in? && current_user.id == @user.id %>
            <br><br>
            <a class="btn btn-primary" href="<%= edit_user_path(@user) %>">
	            <span class="fa fa-edit"></span> Edit Profile
	          </a>
	        <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-4">
      
      <div class="card">
        <div class="card-header"><b>Badges Awarded</b></div>
        <div class="card-body">
          <p class="card-text">
            <% @awards.each do |award| %>
              <% badgeURL = getBadgeImage(award.badge) %>
              <% prestigeCalc = award.prestige %>
              <% if award.badge.id == 1 %>
                <% prestigeCalc = (prestigeCalc + 1)/2 %>
              <% end %>
              <%= image_tag badgeURL, :title => "#{award.badge.name}", :class => "prestige#{prestigeCalc}", :data => { :content => "#{simple_format(BadgeMap.find_by({:badge_id => award.badge_id, :prestige => award.prestige}).description)} (Prestige Level: #{prestigeCalc})", :trigger => "hover", :toggle => "popover", :placement => "top", :html => "true"} %>
            <% end %>
          </p>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-4">
      
      <div class="card">
        <div class="card-header"><b>Submissions</b></div>
        <div class="card-body">
          <p class="card-text">
            <% @submissions.each do |submission| %>
              <% submissionUrl = getSubmissionAvatar(submission) %>
              <%= link_to image_tag(submissionUrl), url_for({:controller => 'submissions', :action => 'show', :id => submission.id}), :class => 'quick' %>
            <% end %>
          </p>
        </div>
      </div>
      
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>

</div>
