<% provide(:title, "Do Art Daily") %>

<script>
  // Needed to activate tooltips.
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  function pad(n) {
    return (n < 10) ? ("0" + n) : n;
  }
  var interval;
  $(document).ready(function(){
    var seconds, minutes, hours, days;
    
    if (interval != null) {
      clearInterval(interval);
    }
    var timeInfo = $('.time_information').data('time');
   
    var rubyDate = new Date(timeInfo);
    var javascriptDate = Date.now();
    var offset = rubyDate - javascriptDate;
  
    var rubyNextDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + 1, 0, 0, 0));
    var rubyNextSubmissionDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + $('.time_information').data('daysleft'), 0, 0, 0));
    var rubyMeaninglessDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), 21, 0, 0, 0));
    var currentTime = new Date(offset + Date.now());
    
    var timeToNextDay = rubyNextDate - currentTime;
    var timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
    var timeToMeaninglessDate = rubyMeaninglessDate - currentTime;
    var submitted = $('.time_information').data('submitted')
    
    if (submitted == -2) {
      $('#TimeDisplay').html(currentTime.toUTCString());
      $('#StreakStatus').css("display", "none")
      $('#NextSubmissionDisplay').css("display", "none")
    } else if (submitted == -1) {
      $('#TimeDisplay').html(currentTime.toUTCString() + "<br>");
      $('#StreakStatus').html("You currently don't have an active streak.");
    } else {
      $('#TimeDisplay').html(currentTime.toUTCString() + "<br>");
      
      if (submitted == 0) {
        $('#StreakStatus').html("Time left before your streak is reset: ");
        $('#StreakStatus').css("color", "red")
      } else if (submitted == 1) {
        $('#StreakStatus').html("You're good to go! Next submission period in: ");
        $('#StreakStatus').css("color", "green")
      }
      
      seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
      minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
      hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
      days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
      $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
    }
    
    seconds = Math.floor(timeToMeaninglessDate / (1000)) % 60;
    minutes = Math.floor(timeToMeaninglessDate / (1000*60)) % 60;
    hours = Math.floor(timeToMeaninglessDate / (1000*60*60)) % 24;
    days = Math.floor(timeToMeaninglessDate / (1000*60*60*24));
    $('#MeaninglessTimer').html("<i>Something</i> is coming in "+days+" day(s), "+hours+" hour(s), "+minutes+" minute(s), "+pad(seconds) + " seconds.<br>");
    
    interval = setInterval(function() {
      currentTime = new Date(offset + Date.now());
      timeToNextDay = rubyNextDate - currentTime;
      
      if (submitted == -2) {
        $('#TimeDisplay').html(currentTime.toUTCString());
      } else if (submitted == -1) {
        $('#TimeDisplay').html(currentTime.toUTCString() + "<br>");
        $('#StreakStatus').html("You currently don't have an active streak.");
      } else {
        $('#TimeDisplay').html(currentTime.toUTCString() + "<br>");
        
        if (submitted == 0) {
          $('#StreakStatus').html("Time left before your streak is reset: ");
        } else if (submitted == 1) {
          $('#StreakStatus').html("You're good to go! Next submission period in: ");
        }
        
        timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
        
        if (timeToNextSubmissionDate >= 0) {
          seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
          minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
          hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
          days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
          $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
        } else {
          $('#NextSubmissionDisplay').html("0 day(s) 00:00:00");
        }
      }
      
      timeToMeaninglessDate = rubyMeaninglessDate - currentTime;
      seconds = Math.floor(timeToMeaninglessDate / (1000)) % 60;
      minutes = Math.floor(timeToMeaninglessDate / (1000*60)) % 60;
      hours = Math.floor(timeToMeaninglessDate / (1000*60*60)) % 24;
      days = Math.floor(timeToMeaninglessDate / (1000*60*60*24));
      $('#MeaninglessTimer').html("<i>Something</i> is coming in "+days+" day(s), "+hours+" hour(s), "+minutes+" minute(s), "+pad(seconds) + " seconds.<br>");
      
    }, 1000);
  });
</script>

<div class="center jumbotron" style="padding: 1.5rem 1rem;">
  <div style="font-family: Fira Mono, monospace;">
    <div style="font-size: 6rem; line-height: 6rem;">
      DoArt<br>Daily
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <% timeinfo = userSubmittedToDAD %>
	      <%= content_tag :div, :class => "time_information", data: {time: Time.now.to_f * 1000, submitted: timeinfo[0], daysleft: timeinfo[1] } do %>
	      <% end %>
	      <div class="card-header"><b>Site Timers</b></b></div>
	      <div class="card-body">
	        <b>Meaningless Timer: </b><span id="MeaninglessTimer"></span>
	        <b>Current Site Time: </b><span id="TimeDisplay"></span>
	        <b><span id="StreakStatus"></span></b><span id="NextSubmissionDisplay"></span>
	      </div>
	    </div>
	    
	    <div class="card">
	      <div class="card-header"><b>Active Challenges</b></div>
        <div class="card-body table-responsive">
          <% if !@startingChallenges.blank? %>
            <% @startingChallenges.each_with_index do |challenge, index| %>
              <b><%= challenge.name %></b> has just begun.<br>
            <% end %>
            Don't forget to submit if you're participating in 
            <% if @startingChallenges.size == 1 %>
              this challenge!
            <% else %>
              these challenges!
            <% end %>
            </b>
            <br><br>
          <% end %>
          <% if !@endingChallenges.blank? %>
            <% @endingChallenges.each_with_index do |challenge, index| %>
              <b><%= challenge.name %></b> has just ended.<br>
            <% end %>
            <br><br>
          <% end %>
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">ICO</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @activeChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px" %></td>
                  <td><%= challenge.name %></td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="6" class="small"><%= simple_format(challenge.description) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
	      <div class="card-header">
	        <b>Upcoming Challenges</b>
	        <a class="btn btn-primary" style="float: right; margin-top: -0.375rem; margin-bottom: -0.375rem;" href="<%= new_challenge_path %>">
	          <span class="fa fa-plus"></span> Create
	        </a>
	      </div>
        <div class="card-body table-responsive">
          
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">ICO</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @upcomingChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px" %></td>
                  <td><%= challenge.name %> </td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="6" class="small"><%= simple_format(challenge.description) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      
      <% if !@latestEliminations.blank? %>
        <div class="card">
        <div class="card-header" style="color: red;"><b>Do Art Daily Eliminations</b>
        </div>
        <div class="card-body">
        <% @latestEliminations.each do |elim| %>
          <% user = User.find(elim.user_id) %>
          <% avatarURL = getUserThumb(user) %>
          <%= link_to image_tag(avatarURL, :title => "#{user.name} (Streak: #{elim.score})", :style => "width: 50px; margin: 0.25rem;", :data => { :toggle => "tooltip", :placement => "top" }), user %>
        <% end %>
        </div>
        </div>
      <% end %>
      
      <% if !@latestAwards.blank? %>
        <% currentBadge = -1 %>
        <% currentPrestige = -1 %>
        <% @latestAwards.each_with_index do |award, index| %>
          <% if (currentBadge != award.badge_id) || (currentPrestige != award.prestige) %>
            <% if index != 0 %>
              </div></div></div>
            <% end %>
            <% currentBadge = award.badge_id %>
            <% currentPrestige = award.prestige %>
            <div class="card">
            <div class="card-header">
            
            <b>These users have been awarded the  
            <% if currentBadge == 1 %>
              DAD badge! (Level <%= award.prestige %>)
            <% else %>
              <%= Badge.find(award.badge_id).name %>! (Prestige <%= award.prestige %>)
            <% end %></b>
            </div>
            <div class="card-body">
              <% badgeURL = getBadgeImage(award.badge) %>
              <% prestigeCalc = award.prestige %>
              <% if award.badge.id == 1 %>
                <% prestigeCalc = (prestigeCalc + 1)/2 %>
              <% end %>
              <div style="height: 100%; width: 90px; float: left;">
              <%= image_tag badgeURL, :title => "#{award.badge.name}", :class => "prestige#{prestigeCalc}", :data => { :content => "#{simple_format(BadgeMap.find_by({:badge_id => award.badge_id, :prestige => award.prestige}).description)} (Prestige Level: #{prestigeCalc})", :trigger => "hover", :toggle => "popover", :placement => "top", :html => "true" } %>
              </div>
              <div style="width: calc(100% - 90px); float: left;">
          <% end %>
          <% user = User.find(award.user_id) %>
          <% avatarURL = getUserThumb(user) %>
          <%= link_to image_tag(avatarURL, :title => "#{user.name}", :style => "width: 50px; margin-right: 0.5rem; margin-bottom: 0.5rem;", :data => { :toggle => "tooltip", :placement => "top" }), user %>
          <% if index == (@latestAwards.size - 1) %>
            </div></div></div>
          <% end %>
        <% end %>
      <% end %>
      
      <% if !@seasonalLeaderboard.blank? %>
        <div class="card">
        <div class="card-header"><b><%= getCurrentSeasonalChallenge.name %> Leaderboard</b>
        </div>
        <div class="card-body table-responsive">
          
        <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Users</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <% currentScore = -1 %>
        <% @seasonalLeaderboard.each_with_index do |seasonPart, index| %>
          <% if currentScore != seasonPart.score %>
            <% if index != 0 %>
              </td><td><%= currentScore %></td></tr>
            <% end %>
            <% currentScore = seasonPart.score %>
            <tr><td>
          <% end %>
          <% user = User.find(seasonPart.user_id) %>
          <% avatarURL = getUserThumb(user) %>
          <%= link_to image_tag(avatarURL, :title => "#{user.name}", :style => "width: 25px; margin: 0.125rem;", :data => { :toggle => "tooltip", :placement => "top" }), user %>
          <% if index == (@seasonalLeaderboard.size - 1) %>
            </td><td><%= seasonPart.score %></td></tr>
          <% end %>
        <% end %>
        </table>
      <% end %>
      
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
