<% provide(:title, "Do Art Daily") %>

<script>
  function pad(n) {
    return (n < 10) ? ("0" + n) : n;
  }
  var interval;
  $(document).ready(function(){
    if (interval != null) {
      clearInterval(interval);
    }
    var timeInfo = $('.time_information').data('time');
   
    var rubyDate = new Date(timeInfo);
    var javascriptDate = Date.now();
    var offset = rubyDate - javascriptDate;
  
    var rubyNextDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + 1, 0, 0, 0));
    var rubyNextSubmissionDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + $('.time_information').data('daysleft'), 0, 0, 0));
    var currentTime = new Date(offset + Date.now());
    var timeToNextDay = rubyNextDate - currentTime;
    var timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
    var submitted = $('.time_information').data('submitted')
    
    var seconds = Math.floor(timeToNextDay / (1000)) % 60;
    var minutes = Math.floor(timeToNextDay / (1000*60)) % 60;
    var hours = Math.floor(timeToNextDay / (1000*60*60)) % 24;
    var days = Math.floor(timeToNextDay / (1000*60*60*24));
    
    $('#TimeDisplay').html(currentTime.toUTCString());
    $('#NextDayDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
    
    if (submitted != -1) {
      if (submitted == 0) {
        $('#StreakStatus').html("Time left before your streak is reset: ");
      } else if (submitted == 1) {
        $('#StreakStatus').html("Your streak is safe for: ");
      }
      
      seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
      minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
      hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
      days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
      $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
    } else {
      $('#StreakStatus').html("You currently don't have an active streak.");
    }
    
    interval = setInterval(function() {
      currentTime = new Date(offset + Date.now());
      timeToNextDay = rubyNextDate - currentTime;
    
      if (timeToNextDay >= 0) { 
        seconds = Math.floor(timeToNextDay / (1000)) % 60;
        minutes = Math.floor(timeToNextDay / (1000*60)) % 60;
        hours = Math.floor(timeToNextDay / (1000*60*60)) % 24;
        days = Math.floor(timeToNextDay / (1000*60*60*24));
        
        $('#TimeDisplay').html(currentTime.toUTCString());
        $('#NextDayDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
      } else {
        $('#NextDayDisplay').html("0 day(s) 00:00:00");
      }
      
      if (submitted != -1) {
        if (submitted == 0) {
          $('#StreakStatus').html("Time left before your streak is reset: ");
        } else if (submitted == 1) {
          $('#StreakStatus').html("Your streak is safe for: ");
        }
        
        timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
        
        if (timeToNextSubmissionDate >= 0) {
          seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
          minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
          hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
          days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
          $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
        } else {
          $('#NextSubmissionDisplay').html("0 day(s) 00:00:00");
        }
      } else {
        $('#StreakStatus').html("You currently don't have an active streak.");
      }
      
    }, 1000);
  });
</script>

<div class="center jumbotron" style="padding: 1.5rem 1rem;">
  <div style="font-family: Fira Mono, monospace;">
    <div style="font-size: 6rem; line-height: 6rem;">
      DoArt<br>Daily
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-4">
	    
	    <div class="card">
	      <% timeinfo = userSubmittedToDAD %>
	      <%= content_tag :div, :class => "time_information", data: {time: Time.now.to_f * 1000, submitted: timeinfo[0], daysleft: timeinfo[1] } do %>
	      <% end %>
	      <div class="card-header"><b>Site Timers</b></b></div>
	      <div class="card-body">
	        <b>Current Site Time: </b><span id="TimeDisplay"></span><br>
	        <b>Time to Next Submission Day: </b><span id="NextDayDisplay"></span><br>
	        <b><span id="StreakStatus"></span></b><span id="NextSubmissionDisplay"></span><br>
	      </div>
	    </div>
	    
	    <div class="card">
	      <div class="card-header"><b>Active Challenges</b></div>
        <div class="card-body table-responsive">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">ICO</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @activeChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px" %></td>
                  <td><%= challenge.name %></td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="6" class="small"><%= raw challenge.description.gsub("\n","<br>") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
	      <div class="card-header">
	        <b>Upcoming Challenges</b>
	        <a class="btn btn-primary" style="float: right; margin-top: -0.375rem; margin-bottom: -0.375rem;" href="<%= new_challenge_path %>">
	          <span class="fa fa-plus"></span> Create
	        </a>
	      </div>
        <div class="card-body table-responsive">
          
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">ICO</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @upcomingChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px" %></td>
                  <td><%= challenge.name %> </td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="6" class="small"><%= raw challenge.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-6">
      
      <div class="card">
        <div class="card-header"><b>Latest Announcement</b></div>
        <div class="card-body">
          <p class="card-text">
            <b>Submission/Streak/Elimination Tracking is functional now, and will begin running every 24 hours at 00:00 GMT.</b>
            <br>
            A small word of warning, the task that handles eliminations and scores every 24 hours is a high risk area, so in the event that something looks weird (eliminations happen when they shouldn't, streaks are counted incorrectly, etc), let me know ASAP.
            <br>
            <h4>ALSO: Due to memory issues, image upload sizes are now limited to 2.5 MB. Please decrease the size of your files before uploading.</h4>
            <br>
            Next up on the priority list is having all the streak and point information displayed in a meaningful and competitive way to you all.
            <br>
            <br>
            Thanks, and apologies for everything, <br>
            <i>the1banana</i>
          </p>
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
