
<% provide(:title, "Do Art Daily") %>
  
<div class="center jumbotron">
  <h1>Welcome to Do Art Daily!</h1>
        
  <h2>This is the home page for the website.</h2>
  <% if !logged_in? %>
    <a class="btn btn-lg btn-primary" href="#login-modal" data-toggle="modal">Sign up now!</a>
  <% end %>
</div>
  
<div class="container-fluid">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>Active Challenges</b></div>
        <div class="card-body table-responsive">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @activeChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= challenge.name %></td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="4" class="small"><%= raw challenge.description.gsub("\n","<br>") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
	      <div class="card-header"><b>Upcoming Challenges</b></div>
        <div class="card-body table-responsive">
          
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <% @upcomingChallenges.each do |challenge| %>
                <tr style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#<%= challenge.id %>">
                  <td><%= challenge.name %> </td>
                  <td><%= dateToString(challenge.start_date) %></td>
                  <td><%= dateToString(challenge.end_date) %></td>
                  <td><%= postfrequencyToString(challenge.postfrequency) %></td>
                </tr>
                <tr id="<%= challenge.id %>" class="collapse in">
                  <td colspan="4" class="small"><%= raw challenge.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header"><b>Quick Submit</b></div>
        <div class="card-body">
          <p class="card-text">
            To do: make this!
          </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header"><b>Latest Announcement</b></div>
        <div class="card-body">
          <p class="card-text">
            Here's where announcements would go!
          </p>
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
