<% provide(:title, "Site News") %>
  
<div class="container-fluid">
  <br>
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>Latest Patch: <%= @latestPatchNote.patch %> <%= getPatchTitle(@latestPatchNote) %> (<%= dateToString(@latestPatchNote.created_at.to_date) %>)</b></div>
        <div class="card-body">
          <%= @latestPatchNote.before %>
          <br><br>
          <small><ul class="list-group">
          <% @latestPatchEntries.each do |patchEntry| %>
          <li class="list-group-item <%= patchImportanceToClass(patchEntry.importance) %>">
            <%= patchImportanceToString(patchEntry.importance) %><%= patchEntry.body %>
          </li>
          <% end %>
          </ul></small>
          <br>
          <%= @latestPatchNote.after %>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      
      <div class="card">
        <div class="card-header"><b>Latest Announcement - the1banana (April 26, 2018)</b></div>
        <div class="card-body">
            Even if I'm not in the thread or discord 24/7, I'm doing my best to listen in on your concerns. As part of what I've surveyed, it would seem that intuitive links between pages make for some frustrating navigation. Hopefully, a great deal of that should be fixed, but if there's a flow that still annoys you, let me know as soon as possible!
            <br>
            Next up on my docket is likely adding and deleting submissions. An update to this news page to make it a place to discuss new functionality and the path of the website may come before then, and will hopefully be used to discuss complex updates like that one.
            <br>
            As usual, thank you for all your patience.
            <br>
            <br>
            Thanks, and apologies for everything!
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
