<% provide(:title, "Site News") %>
  
<div class="container-fluid">
  <br>
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>Latest Patch: <%= @latestPatchNote.patch %> <%= getPatchTitle(@latestPatchNote) %> (<%= dateToString(@latestPatchNote.created_at.to_date) %>)</b></div>
        <div class="card-body">
          <%= @latestPatchNote.before %>
          <br><br>
          <small><ul class="list-group">
          <% @latestPatchEntries.each do |patchEntry| %>
          <li class="list-group-item <%= patchImportanceToClass(patchEntry.importance) %>">
            <%= patchImportanceToString(patchEntry.importance) %><%= patchEntry.body %>
          </li>
          <% end %>
          </ul></small>
          <br>
          <%= @latestPatchNote.after %>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      <div class="card">

        <div class="card-header"><b>Latest Announcement - the1banana (September 22, 2018)</b></div>

        <div class="card-body">
          I wanted to have more changes for this update, but I felt like I might as well push out pertinent fixes
          for the sake of the website first.<br>
          I'll be opening a forum for bug fixes/new feature discussion, most pertinently, topic challenges.
          The slated start of topic challenges will either be the start of the winter season, or the next spring season
          for aesthetic reasons.<br>
          You should expect regular updates from this point forward!<br>
          the1banana
        </div>
      </div>
    </div>
      
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
