<% provide(:title, "Site News") %>
  
<div class="container-fluid">
  <br>
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>Latest Patch: <%= @latestPatchNote.patch %> <%= getPatchTitle(@latestPatchNote) %> (<%= dateToString(@latestPatchNote.created_at.to_date) %>)</b></div>
        <div class="card-body">
          <%= @latestPatchNote.before %>
          <br><br>
          <small><ul class="list-group">
          <% @latestPatchEntries.each do |patchEntry| %>
          <li class="list-group-item <%= patchImportanceToClass(patchEntry.importance) %>">
            <%= patchImportanceToString(patchEntry.importance) %><%= patchEntry.body %>
          </li>
          <% end %>
          </ul></small>
          <br>
          <%= @latestPatchNote.after %>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header"><b>Latest Announcement - nicnac (August 21, 2018)</b></div>
        <div class="card-body">
          Hello again folks, your cool uncle that pops in every now and then is back again.<br><br>
          Submissions buttons are resized to scale better with mobile devices,<br> 
          user page has had UI changes made. Users also display in rows of two now on most mobile devices.<br>
          (It should at least, lemme know if it doesnt )<br>
          More to come later. Let us know your suggestions in thread or discord. <br>
          Bless, <br> <br>
          nicnac
        </div>
      </div>
    </div>
      
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
