<% provide(:title, "Site News") %>
  
<div class="container-fluid">
  <br>
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>Latest Patch: <%= @latestPatchNote.patch %> <%= getPatchTitle(@latestPatchNote) %> (<%= dateToString(@latestPatchNote.created_at.to_date) %>)</b></div>
        <div class="card-body">
          <%= @latestPatchNote.before %>
          <br><br>
          <small><ul class="list-group">
          <% @latestPatchEntries.each do |patchEntry| %>
          <li class="list-group-item <%= patchImportanceToClass(patchEntry.importance) %>">
            <%= patchImportanceToString(patchEntry.importance) %><%= patchEntry.body %>
          </li>
          <% end %>
          </ul></small>
          <br>
          <%= @latestPatchNote.after %>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header"><b>Latest Announcement - nicnac (August 20, 2018)</b></div>
        <div class="card-body">
          Hello folks, youe friendly banana is taking a breath to catch up on sleep, so I am pushing out this small visual change.<br><br>
          Color changes to the header cutting the contrasting orange for a slicker and subtle coal grey, slight UI changes to sumbissions.<br>
          More to come later. Let us know your suggestions in thread or discord. <br>
          Bless, <br> <br>
          nicnac
        </div>
      </div>
    </div>
      <div class="card">
        <div class="card-header"><b>Announcement - the1banana (August 19, 2018)</b></div>
        <div class="card-body">
          Ostensibly, we're finally here. This is far from the end, expect regular small updates and fixes to the site as things go on!<br><br>
          A few key things:<br>
          Of the new features, the most notable is the ability to edit/delete submissions. Free editing/deletion is only available on the
          day of the submission, with edit options heavily limited after rollover. This is to prevent the potential of abuse.<br>
          Comments have not been implemented yet, there are some things I need to deal with on a design-level before I tackle that.<br>
          Bugs are to be expected, so email me if anything catches fire. This is particularly important, as I am still in the midst of a lot of travel.
          As an additional preventative measure, NicNac will have a direct line to me, in case of extreme emergencies.<br>
          Lastly, as a result of the new help page, I will no longer be entertaining requests for the following: joining a challenge late, forgetting
          to attach a submission to a challenge, manual changes to challenges/submissions that can be made from the user's end. I will still help
          patch up any damage to streaks/awards caused by bugs or things like deleting duplicates.<br><br>
          Thank you for everything.
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
