<script>
  // Needed to activate tooltips.
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  function pad(n) {
    return (n < 10) ? ("0" + n) : n;
  }
  var interval;
  $(document).ready(function(){
    var seconds, minutes, hours, days;
    
    if (interval != null) {
      clearInterval(interval);
    }
    var timeInfo = $('.time_information').data('time');
   
    var rubyDate = new Date(timeInfo);
    var javascriptDate = Date.now();
    var offset = rubyDate - javascriptDate;
  
    var rubyNextDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + 1, 0, 0, 0));
    var rubyNextSubmissionDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + $('.time_information').data('daysleft'), 0, 0, 0));
    var currentTime = new Date(offset + Date.now());
    
    var timeToNextDay = rubyNextDate - currentTime;
    var timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
    var submitted = $('.time_information').data('submitted')
    
    if (submitted == -2) {
      $('#TimeDisplay').html(currentTime.toUTCString());
      $('#StreakStatus').html("Please log in to view your streak status.");
      $('#StreakStatus').addClass("streakNeutral");
      $('#NextSubmissionDisplay').css("display", "none")
    } else if (submitted == -1) {
      $('#TimeDisplay').html(currentTime.toUTCString());
      $('#StreakStatus').html("You currently don't have an active streak.");
      $('#StreakStatus').addClass("streakNeutral");
      $('#NextSubmissionDisplay').css("display", "none")
    } else {
      $('#TimeDisplay').html(currentTime.toUTCString());
      
      seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
      minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
      hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
      days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
      if (submitted == 0) {
        $('#StreakStatus').html("You must submit soon to protect your streak.<br>");
        $('#StreakStatus').addClass("streakDanger");
        $('#NextSubmissionDisplay').html("Submission Deadline: "+(days ? days+" day(s) " : "")+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
      } else if (submitted == 1) {
        $('#StreakStatus').html("Your streak is safe for now!<br>");
        $('#StreakStatus').addClass("streakSafe");
        $('#NextSubmissionDisplay').html("Next Submission Period: "+(days ? days+" day(s) " : "")+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
      }
      
    }
    
    interval = setInterval(function() {
      currentTime = new Date(offset + Date.now());
      timeToNextDay = rubyNextDate - currentTime;
      var pretext;
      
      if (submitted == -2) {
        $('#TimeDisplay').html(currentTime.toUTCString());
      } else if (submitted == -1) {
        $('#TimeDisplay').html(currentTime.toUTCString());
      } else {
        $('#TimeDisplay').html(currentTime.toUTCString());
        
        if (submitted == 0) {
          $('#StreakStatus').html("You must submit soon to protect your streak.<br>");
          pretext = "Submission Deadline: ";
        } else if (submitted == 1) {
          $('#StreakStatus').html("Your streak is safe for now!<br>");
          pretext = "Next Submission Period: ";
        }
        
        timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
        
        if (timeToNextSubmissionDate >= 0) {
          seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
          minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
          hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
          days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
          $('#NextSubmissionDisplay').html(pretext+(days ? days+" day(s) " : "")+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
        } else {
          $('#NextSubmissionDisplay').html(pretext+"00:00:00");
        }
      }
      
    }, 1000);
  });
</script>

<%= form_for @submission, html: { multipart: true } do |f| %>
  <div class="row">
  <div class="col-lg-6">
	  
	  <div class="card">
	    <div class="card-header"><b>New Submission (<span style="font-weight:600;">bolded</span> fields are required)</b></div>
      <div class="card-body">
    
        <% if @submission.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being posted:</h3>
            <ul>
              <% @submission.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        By submitting, you agree to the submission guidelines and content policy as specified <a href="../help">here</a>.
        Also, be aware that after submitting, <span style="font-weight: 600;">your ability to edit your submission will be 
        limited after rollover, and deletion will be impossible.</span><br><br>

        <div class="form-group row">
          <div class="col-3" style="font-weight:600;">
            <%= f.label :drawing %><br>
          </div>
          <div class="col-9">
            <%= f.file_field :drawing %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3" style="font-weight:600;">
            <%= f.label :nsfw_level %>
          </div>
          <div class="col-9">
            <%= f.select :nsfw_level, options_for_select([['Safe', 1], ['Questionable', 2], ['Explicit', 3]], 1), {}, { :class => 'custom-select' } %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :title %>
          </div>
          <div class="col-9">
            <%= f.text_field :title %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :description %>
          </div>
          <div class="col-9">
            <%= f.text_area :description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :time, "Time Spent (in minutes)" %>
          </div>
          <div class="col-9">
            <%= f.number_field :time, :max => 2880 %>
          </div>
        </div>

        <% if @current_user.enabled_api %>
          <div class="form-group row">
            <div class="col-3">
              <%= f.label :api_command, "API Command" %>
            </div>
            <div class="col-9">
              <%= f.text_field :api_command, class: "form-control" %>
            </div>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="offset-sm-6 col-sm-6">
            <%= f.submit :class => 'btn btn-primary', :style => "margin-bottom: 0;" %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  <div class="col-lg-6">
    
    <div class="card">
      <div class="card-body">
	      <% timeinfo = userSubmittedToDAD %>
	      <%= content_tag :div, :class => "time_information", data: {time: Time.now.to_f * 1000, submitted: timeinfo[0], daysleft: timeinfo[1] } do %>
	      <% end %>
	      <span><i class="fa fa-clock-o"></i> <span id="TimeDisplay"></span></span><br>
	      <% currentSeason = getCurrentSeasonalChallenge %>
	      <span>
	        <% if currentSeason.name.include? "Spring" %>
	        <i class="fa fa-leaf"></i>
	        <% elsif currentSeason.name.include? "Summer" %>
	        <i class="fa fa-sun-o"></i>
	        <% elsif currentSeason.name.include? "Autumn" %>
	        <i class="fa fa-cloud"></i>
	        <% elsif currentSeason.name.include? "Winter" %>
	        <i class="fa fa-snowflake-o"></i>
	        <% end %>
	        <%= currentSeason.name %>: <%= pluralize((currentSeason.end_date - Date.current).to_i, "day") %> left.
	      </span><br><br>
	      <span id="StreakStatus"></span>
	      <span id="NextSubmissionDisplay"></span>
	    </div>
	  </div>
    
    <div class="card">
      <div class="card-header"><b>Eligible Challenges</b></div>
      <div class="card-body">
        <p class="card-text">
          You can submit to the following challenges. All submissions are entered into the Do Art Daily and current seasonal challenge.
          <br>
          <small style="color: grey;">(<b>You can increase your frequency, but lowering your post frequency will reset your streak!</b>)</small>
          <div class="form-group row" style="margin-bottom: 0;">
            <div class="col-3">
              <%= label_tag :postfrequency, "DAD Post Frequency" %>
            </div>
            <div class="col-9">
              <%= select_tag :postfrequency, options_for_select([['Daily', 1], ['Every Other Day', 2], ['Every 3 Days', 3], ['Every 4 Days', 4], ['Every 5 Days', 5], ['Every 6 Days', 6], ['Weekly', 7]], (getUserDADFrequency(current_user) == 0 ? 1 : getUserDADFrequency(current_user) )), { :class => 'custom-select' } %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              Seasonal Challenge:
            </div>
            <div class="col-9">
              <%= getCurrentSeasonalChallenge.name %>
            </div>
          </div>
          <br>
          <b>Custom Challenges:</b><br>
          <small><b>Remember to double check that you've submitted to all relevant challenges, and that your submission fulfills the conditions required for the challenge.</b></small>
          <% @participations.each do |p| %>
            <% if p.challenge.id != 1 && !p.challenge.seasonal %>
              <div class="form-group row">
                <div class="col-3">
                  <%= label_tag p.challenge_id, "#{p.challenge.name}" %>
                </div>
                <div class="col-3">
                  <%= check_box_tag p.challenge_id %>
                </div>
                <div class="col-6">
                </div>
              </div>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    
  </div>
  </div>
<% end %>
