<script>
  function pad(n) {
    return (n < 10) ? ("0" + n) : n;
  }
  var interval;
  $(document).ready(function(){
    if (interval != null) {
      clearInterval(interval);
    }
    var timeInfo = $('.time_information').data('time');
   
    var rubyDate = new Date(timeInfo);
    var javascriptDate = Date.now();
    var offset = rubyDate - javascriptDate;
  
    var rubyNextDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + 1, 0, 0, 0));
    var rubyNextSubmissionDate = new Date(Date.UTC(rubyDate.getUTCFullYear(), rubyDate.getUTCMonth(), rubyDate.getUTCDate() + $('.time_information').data('daysleft'), 0, 0, 0));
    var currentTime = new Date(offset + Date.now());
    var timeToNextDay = rubyNextDate - currentTime;
    var timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
    var submitted = $('.time_information').data('submitted')
    
    var seconds = Math.floor(timeToNextDay / (1000)) % 60;
    var minutes = Math.floor(timeToNextDay / (1000*60)) % 60;
    var hours = Math.floor(timeToNextDay / (1000*60*60)) % 24;
    var days = Math.floor(timeToNextDay / (1000*60*60*24));
    
    $('#TimeDisplay').html(currentTime.toUTCString());
    $('#NextDayDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
    
    if (submitted != -1) {
      if (submitted == 0) {
        $('#StreakStatus').html("Time left before your streak is reset: ");
      } else if (submitted == 1) {
        $('#StreakStatus').html("Your streak is safe for: ");
      }
      
      seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
      minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
      hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
      days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
      $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
    } else {
      $('#StreakStatus').html("You currently don't have an active streak.");
    }
    
    interval = setInterval(function() {
      currentTime = new Date(offset + Date.now());
      timeToNextDay = rubyNextDate - currentTime;
    
      if (timeToNextDay >= 0) { 
        seconds = Math.floor(timeToNextDay / (1000)) % 60;
        minutes = Math.floor(timeToNextDay / (1000*60)) % 60;
        hours = Math.floor(timeToNextDay / (1000*60*60)) % 24;
        days = Math.floor(timeToNextDay / (1000*60*60*24));
        
        $('#TimeDisplay').html(currentTime.toUTCString());
        $('#NextDayDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
      } else {
        $('#NextDayDisplay').html("0 day(s) 00:00:00");
      }
      
      if (submitted != -1) {
        if (submitted == 0) {
          $('#StreakStatus').html("Time left before your streak is reset: ");
        } else if (submitted == 1) {
          $('#StreakStatus').html("Your streak is safe for: ");
        }
        
        timeToNextSubmissionDate = rubyNextSubmissionDate - currentTime;
        
        if (timeToNextSubmissionDate >= 0) {
          seconds = Math.floor(timeToNextSubmissionDate / (1000)) % 60;
          minutes = Math.floor(timeToNextSubmissionDate / (1000*60)) % 60;
          hours = Math.floor(timeToNextSubmissionDate / (1000*60*60)) % 24;
          days = Math.floor(timeToNextSubmissionDate / (1000*60*60*24));
      
          $('#NextSubmissionDisplay').html(days+" day(s) "+pad(hours)+":"+pad(minutes)+":"+pad(seconds));
        } else {
          $('#NextSubmissionDisplay').html("0 day(s) 00:00:00");
        }
      } else {
        $('#StreakStatus').html("You currently don't have an active streak.");
      }
      
    }, 1000);
  });
</script>

<%= form_for @submission, html: { multipart: true } do |f| %>
  <div class="row">
  <div class="col-lg-6">
    <div class="card">
      <% timeinfo = userSubmittedToDAD %>
	    <%= content_tag :div, :class => "time_information", data: {time: Time.now.to_f * 1000, submitted: timeinfo[0], daysleft: timeinfo[1] } do %>
	      <% end %>
	      <div class="card-header"><b>Site Timers</b></b></div>
	      <div class="card-body">
	        <b>Current Site Time: </b><span id="TimeDisplay"></span><br>
	        <b>Time to Next Submission Day: </b><span id="NextDayDisplay"></span><br>
	        <b><span id="StreakStatus"></span></b><span id="NextSubmissionDisplay"></span><br>
	      </div>
	    </div>
    
	  <div class="card">
	    <div class="card-header"><b>New Submission</b></div>
      <div class="card-body">
    
        <% if @submission.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being posted:</h3>
            <ul>
              <% @submission.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-3">
            <%= f.label :drawing %><br>
          </div>
          <div class="col-9">
            <%= f.file_field :drawing %>
          </div>
        </div>

    
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :nsfw_level %>
          </div>
          <div class="col-9">
            <%= f.select :nsfw_level, options_for_select([['Safe', 1], ['Questionable', 2], ['Explicit', 3]], 1), {}, { :class => 'custom-select' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-6 col-sm-6">
            <%= f.submit :class => 'btn btn-primary', :style => "margin-bottom: 0;" %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header"><b>Eligible Challenges</b></div>
      <div class="card-body">
        <p class="card-text">
          You can submit to the following challenges. All submissions are entered into the Do Art Daily and current seasonal challenge.
          <br>
          <small style="color: grey;">(<b>You can increase your frequency, but lowering your post frequency will reset your streak!</b>)</small>
          <div class="form-group row" style="margin-bottom: 0;">
            <div class="col-3">
              <%= label_tag :postfrequency, "DAD Post Frequency" %>
            </div>
            <div class="col-9">
              <%= select_tag :postfrequency, options_for_select([['Daily', 1], ['Every Other Day', 2], ['Every 3 Days', 3], ['Every 4 Days', 4], ['Every 5 Days', 5], ['Every 6 Days', 6], ['Weekly', 7]], (getUserDADFrequency(current_user) == 0 ? 1 : getUserDADFrequency(current_user) )), { :class => 'custom-select' } %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              Seasonal Challenge:
            </div>
            <div class="col-9">
              <%= Challenge.where(":todays_date >= start_date AND :todays_date < end_date AND seasonal = true", {todays_date: Date.current}).first.name %>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  </div>
<% end %>
