<%= form_for @submission, html: { multipart: true } do |f| %>
  <div class="row">
  <div class="col-lg-6">
	  
	  <div class="card">
	    <div class="card-header"><b>New Submission (<span style="font-weight:600;">bolded</span> fields are required)</b></div>
      <div class="card-body">
    
        <% if @submission.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being posted:</h3>
            <ul>
              <% @submission.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        Because it is currently after the day of submission, your options for editing the submission are limited. 
        If you need something changed that isn't available here, please contact an administrator.<br><br>

        <div class="form-group row">
          <div class="col-3" style="font-weight:600;">
            <%= f.label :nsfw_level %>
          </div>
          <div class="col-9">
            <%= f.select :nsfw_level, options_for_select([['Safe', 1], ['Questionable', 2], ['Explicit', 3]], 1), {}, { :class => 'custom-select' } %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :title %>
          </div>
          <div class="col-9">
            <%= f.text_field :title %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :description %>
          </div>
          <div class="col-9">
            <%= f.text_area :description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-6">
            <%= f.label :commentable, "Allow Comments?" %>
          </div>
          <div class="col-6">
            <%= f.check_box :commentable, "#{"checked" if @submission.commentable}" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-6 col-sm-6">
            <%= f.submit :class => 'btn btn-primary', :style => "margin-bottom: 0;" %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  <div class="col-lg-6">
  </div>
  </div>
  
<% end %>
