<div class="container-fluid">
<br>

<p class="h2"><%= @date == Date.current ? "Today's" : @date.strftime("%B %e, %Y") %> Submissions
  <a class="btn btn-primary" style="margin-bottom: 0.5rem;" href="<%= new_submission_path %>">
	  <span class="fa fa-plus"></span> Submit Your Art!
	</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Drawing</th>
      <th scope="col">Artist</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Nsfw level</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= image_tag getSubmissionThumb(submission) %></td>
        <td><%= submission.user.name %> </td>
        <td><%= submission.created_at.strftime("%T") %></td>
        <td><%= getNsfwString(submission.nsfw_level) %></td>
        <td><%= link_to 'Show', submission %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
