<div class="container-fluid mainPageSplash">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="tim-title" style="margin-bottom: 1rem;">
        <p class="h2">
          <%= @date == Date.current ? "Today's" : @date.strftime("%B %e, %Y") %> Submissions
          <a class="btn btn-primary btn-submit" style="margin-bottom: 0.5rem;" href="<%= new_submission_path %>">
          <i class="fa fa-plus" aria-hidden="true"></i> Submit Your Art!
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date - 1.month) %> ">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <i class="fa fa-chevron-left" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          <i class="fa fa-chevron-left" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date - 7.day) %> ">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <i class="fa fa-chevron-left" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date - 1.day) %> ">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date + 1.day) %> ">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date + 7.day) %> ">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          </a>
          <a class="btn btn-primary btn-arrow" style="margin-bottom: 0.5rem;" href=" <%= submissions_path(:date => @date + 1.month) %> ">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: -0.5rem;"></i>
          </a>
        </p>
      <ul class="submissionrow">
    
      <% @submissions.each do |submission| %>
            <li>
              <div class="submissionIcon">
          <%= link_to "<i class='fa fa-user' aria-hidden='true'></i> #{submission.user.name}".html_safe, submission.user, :class => "submissionAuthor" %>
          <%= link_to image_tag(getSubmissionThumb(submission)), submission %>
                
                </div>
              </li>
            <% end %>
          </ul>
  
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
