<% psub = prev_submission(@submission) %>
<% apsub = prev_user_submission(@submission) %>
<% ansub = next_user_submission(@submission) %>
<% nsub = next_submission(@submission) %>
<script>
  function charcountupdate(str) {
	  var lng = str.length;
	  document.getElementById("charcount").innerHTML = lng + '/2000';
  }
  window.onkeyup = function(e) {
    if (document.getElementById("comment_body") !== document.activeElement){
      <% unless psub.blank? %>
        if (e.keyCode == 37) {
          window.open("<%= submission_path(psub.id) %>","_self");
        }
      <% end %>
      <% unless apsub.blank? %>
        if (e.keyCode == 40) {
          window.open("<%= submission_path(apsub.id) %>","_self");
        }
      <% end %>
      <% unless ansub.blank? %>
        if (e.keyCode == 38) {
          window.open("<%= submission_path(ansub.id) %>","_self");
        }
      <% end %>
      <% unless nsub.blank? %>
        if (e.keyCode == 39) {
          window.open("<%= submission_path(nsub.id) %>","_self");
        }
      <% end %>
    }
  }  
</script>
<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <b><p id="notice"><%=notice %></p></b>
    <div class="col-lg-2">
      <div class="card">
	      <div class="card-header" style="text-align: center;">
	        Submission Info
	      </div>
        <div class="card-body" style="text-align: center;">
          <div class="avatarWithName">
        <div class="avatarUserName"><%= @submission.user.name %></div>
        
        <a href=<%="../users/#{@submission.user.id}"%>>
        <span class="fullSizeAvatar">
            <% seasonChallengeIds = getLatestSeasonalChallenges %>
            <% userDADScore = getUserCurrentDADScore(@submission.user) %>
            
            <% if userDADScore != "None" %>
              <% nextLvl = BadgeMap.where("required_score > :current_score AND challenge_id = :challengeId", {current_score: userDADScore, challengeId: 1}).order("required_score ASC").first %>
              <% prevLvl = BadgeMap.where("required_score <= :current_score AND challenge_id = :challengeId", {current_score: userDADScore, challengeId: 1}).order("required_score DESC").first %>
            <% else %>
              <% toNextLvl = 0 %>
              <% prevLvl = 0 %>
            <% end %>
            
            <% winterAward = getAwardByUserAndChallenge(seasonChallengeIds[3], @submission.user) %>
            <% springAward = getAwardByUserAndChallenge(seasonChallengeIds[0], @submission.user) %>
            <% summerAward = getAwardByUserAndChallenge(seasonChallengeIds[1], @submission.user) %>
            <% autumnAward = getAwardByUserAndChallenge(seasonChallengeIds[2], @submission.user) %>
            
            <%= image_tag getUserThumb(@submission.user), :title => "#{postfrequencyToString(getUserDADFrequency(@submission.user), true)}", :alt => "#{@submission.user.name}", :data => { :toggle => "tooltip", :placement => "top" } %>
            <div class=<%= "winter#{winterAward.prestige unless winterAward.blank?}" %>></div>
            <div class=<%= "spring#{springAward.prestige unless springAward.blank?}" %>></div>
            <div class=<%= "summer#{summerAward.prestige unless summerAward.blank?}" %>></div>
            <div class=<%= "autumn#{autumnAward.prestige unless autumnAward.blank?}" %>></div>
            
            <div style="margin-top: 5px;" data-toggle="tooltip" data-placement="top" title="Record Streak: <%= @submission.user.longest_streak %> (Level <%= getUserMaxLevel(@submission.user) %>)" >
              <div class="levelOverlay unselectable">
                <% if userDADScore != "None" %>
                  <%= "#{userDADScore}/#{nextLvl.required_score} to lvl #{nextLvl.prestige}" %>
                <% else %>
                  No Active Streak
                <% end %>
              </div>
              <div class="progress" >
                <% barPercent = (userDADScore == "None") ? 0 : (100.0*(userDADScore - (prevLvl.blank? ? 0 : prevLvl.required_score)).to_f)/(nextLvl.required_score - (prevLvl.blank? ? 0 : prevLvl.required_score)).to_f %>
                <div class="progress-bar progress-bar-experience" role="progressbar" style="width: <%= barPercent %>%" aria-valuenow="<%= barPercent %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
          </span>
          </a>
          </div>
          
          <br>
          <%= @submission.created_at.strftime("Submitted at %H:%M, %b %-d, %Y") %><br>
          Time Spent: <%= getSubmissionTimeText(@submission) %><br>
          Content Level: <%= getNsfwString(@submission.nsfw_level) %><br><br>
          <b>Submitted to Challenges:</b><br>
          <% @challenge_entries.each do |ce| %>
            <%= link_to ce.challenge.name, ce.challenge, :style => "color: black;" %><br>
          <% end %>
          <br>
          
          <a class="btn btn-primary" href="/submissions">
            <span class="fa fa-undo"></span> Back
          </a>
          
          <% if logged_in? && (@submission.user_id == current_user.id) %>
            <% if (@submission.created_at.to_date == Date.current) %>
              <br><br>
              <%= link_to '<span class="fa fa-edit"></span>'.html_safe, edit_submission_path(@submission), :class => "btn btn-primary" %>
              <%= link_to '<span class="fa fa-trash"></span>'.html_safe, @submission, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %><br>
            <% else %>
              <br><br>
              <%= link_to '<span class="fa fa-edit"></span>'.html_safe, edit_submission_path(@submission), :class => "btn btn-primary" %><br>
            <% end %>
          <% end %>
       </div>
	   </div>
	 </div>
	 
	  <div class="col-lg-10">
	    <div class="card">
	      <div class="card-header" style="text-align: center; font-weight: 600;"><%= getSubmissionTitle(@submission) %></div>
        <div class="card-body" style="text-align: center;">
          <% submissionUrl = @submission.drawing.url unless @submission.drawing.blank? %>
          <div style="width: 100%;">
          <%= image_tag submissionUrl, :style => "max-width: 100%; max-height: 600px;" %>
          </div>
          <br>
          <%= simple_format(getSubmissionDescription(@submission)) %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body" style="text-align: center; padding: 5px;">
              <% unless psub.blank? %>
                Previous Submission by <%= psub.user.name %> (&larr;)<br>
                <%= link_to image_tag(getSubmissionAvatar(psub), :alt => "#{getSubmissionAvatar(psub)}"), psub %>
              <% else %>
                First submission!
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body" style="text-align: center; padding: 5px;">
              <% unless apsub.blank? %>
                <%= @submission.user.name %>'s Previous Submission (&darr;)<br>
                <%= link_to image_tag(getSubmissionAvatar(apsub), :alt => "#{getSubmissionAvatar(apsub)}"), apsub %>
              <% else %>
                First submission!
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body" style="text-align: center; padding: 5px;">
              <% unless ansub.blank? %>
                <%= @submission.user.name %>'s Next Submission (&uarr;)<br>
                <%= link_to image_tag(getSubmissionAvatar(ansub), :alt => "#{getSubmissionAvatar(ansub)}"), ansub %>
              <% else %>
                Last submission!
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body" style="text-align: center; padding: 5px;">
              <% unless nsub.blank? %>
                Next Submission by <%= nsub.user.name %> (&rarr;) <br>
                <%= link_to image_tag(getSubmissionAvatar(nsub), :alt => "#{getSubmissionAvatar(nsub)}"), nsub %>
              <% else %>
                Last submission!
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <% has_permissions, error = can_comment_on_submission(@submission, current_user) %>
     
      <div class="card">
        <% if has_permissions %>
          <div class="card-header">Comment On Submission</div>
          <div class="card-body">
            By commenting, you agree to adhere to DAD's guidelines for comment ettiquite as defined <a href="/help">here</a>.<br><br>
          <%= form_for [@submission, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Write your comment. Do your best to provide meaningful feedback: a step above surface-level critique, simple praise, or a token acknowledgement of feedback.", onkeyup: "charcountupdate(this.value)" %>
            <span id="charcount">0/2000</span>
            <%= f.submit "Post Comment" %>
          <% end %>
          </div>
        <% else %>
          <div class="card-header">Comment On Submission</div>
          <div class="card-body">
            <%= error %>
          </div>
        <% end %>
      </div>
      
      <% @comments.each do |comment| %>
        <div class="card comment-card">
          <div class="card-header">
            <b><%= link_to comment.user.name, comment.user %></b> <%= comment.created_at.strftime("%H:%M, %b %-d, %Y") %> No.<%= comment.id %>
            <%= link_to '<span class="fa fa-trash"></span>'.html_safe, [@submission, comment], method: :delete, data: { confirm: 'Are you sure?' } if comment.user_id == current_user&.id %>          
          </div>
          <div class="card-body">
            <%= simple_format(comment.body) %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
