<%= form_for @challenge, html: { multipart: true } do |f| %>
  <div class="row">
  <div class="col-lg-6">
	  <div class="card">
	    <div class="card-header"><b>Edit Challenge Details</b></div>
      <div class="card-body">
    
        <% if @challenge.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being created:</h3>
            <ul>
              <% @challenge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-3">
            <%= f.label :name %> <br>
          </div>
          <div class="col-9">
            <%= f.text_field :name %>
          </div>
        </div>

    
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :description %>
          </div>
          <div class="col-9">
            <%= f.text_area :description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :start_date %>
          </div>
          <div class="col-9">
            <%= @challenge.start_date.strftime("%B %e, %Y") %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :end_date %>
          </div>
          <div class="col-9">
            <%= @challenge.end_date.strftime("%B %e, %Y") %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3">
            <%= f.label :streak_based %>
          </div>
          <div class="col-9">
            <% if @challenge.streak_based %>
              Yes
            <% else %>
              No
            <% end %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :postfrequency, "Submission Frequency" %>
          </div>
          <div class="col-9">
            <%= postfrequencyToString(@challenge.postfrequency) %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-6 col-sm-6">
            <%= f.submit :class => 'btn btn-primary', :style => "margin-bottom: 0;" %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header"><b>Challenge Badge</b></div>
      <div class="card-body">
          <% if @badge.errors.any? || @badge_map.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@badge.errors.count+@badge_map.errors.count, "error") %> prohibited this challenge from being created:</h3>
            <ul>
              <% @badge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              <% @badge_map.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          
          Design the badge earned for participating in your challenge!<br><br>
          
          <%= fields_for @badge do |v| %>
          
          <div class="form-group row">
            <div class="col-3">
              <%= v.label :name %>
            </div>
            <div class="col-9">
              <%= v.text_field :name %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= v.label :avatar %>
            </div>
            <div class="col-9">
              <%= v.file_field :avatar %>
            </div>
          </div>
          
          <% end %>
          
          <%= fields_for @badge_map do |u| %>
          
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :required_score, "Submissions Required" %>
            </div>
            <div class="col-9">
              <%= @badge_map.required_score %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :prestige %>
            </div>
            <div class="col-9">
              <%= @badge_map.prestige %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :description %>
            </div>
            <div class="col-9">
              <%= u.text_area :description %>
            </div>
          </div>
          
          <% end %>
          
      </div>
    </div>
  </div>
  </div>
<% end %>
