<%= form_for @challenge, html: { multipart: true } do |f| %>
  <div class="row">
  <div class="col-lg-6">
	  <div class="card">
	    <div class="card-header"><b>Create New Challenge</b></div>
      <div class="card-body">
    
        <% if @challenge.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being created:</h3>
            <ul>
              <% @challenge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-3">
            <%= f.label :name %> <br>
          </div>
          <div class="col-9">
            <%= f.text_field :name %>
          </div>
        </div>

    
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :description %>
          </div>
          <div class="col-9">
            <%= f.text_area :description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :start_date %>
          </div>
          <div class="col-9">
            <%= f.date_select :start_date, {:order => [:month, :day, :year], :start_year => Date.today.year}, { :class => "col-3" } %>
          </div>
        </div>
        
        <small style="color: grey;">(End dates are <b>exclusive</b>; the last submission day is the one prior.)</small>
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :end_date %>
          </div>
          <div class="col-9">
            <%= f.date_select :end_date, {:order => [:month, :day, :year], :start_year => Date.today.year}, { :class => "col-3" } %>
          </div>
        </div>

        <small style="color: grey;">(If enabled, you can be eliminated from the challenge.)</small>
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :streak_based %>
          </div>
          <div class="col-9">
            <%= f.check_box :streak_based %>
          </div>
        </div>
        
        <small style="color: grey;">(A post frequency of "None" indicates that participants can submit as many times as they want per day to the challenge. Cannot be used with a streak-based/elimination challenge.)</small>
        <div class="form-group row">
          <div class="col-3">
            <%= f.label :postfrequency %>
          </div>
          <div class="col-9">
            <%= f.select :postfrequency, options_for_select([['None', 0], ['Daily', 1], ['Every Other Day', 2], ['Every 3 Days', 3], ['Every 4 Days', 4], ['Every 5 Days', 5], ['Every 6 Days', 6], ['Weekly', 7]], @challenge.postfrequency), { :class => 'custom-select' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-6 col-sm-6">
            <%= f.submit :class => 'btn btn-primary', :style => "margin-bottom: 0;" %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header"><b>Challenge Badge</b></div>
      <div class="card-body">
          <% if @badge.errors.any? || @badge_map.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@badge.errors.count+@badge_map.errors.count, "error") %> prohibited this challenge from being created:</h3>
            <ul>
              <% @badge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              <% @badge_map.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          
          Design the badge earned for participating in your challenge!<br>
          
          <%= fields_for @badge do |v| %>
          
          <div class="form-group row">
            <div class="col-3">
              <%= v.label :name %>
            </div>
            <div class="col-9">
              <%= v.text_field :name %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= v.label :avatar %>
            </div>
            <div class="col-9">
              <%= v.file_field :avatar %>
            </div>
          </div>
          
          <% end %>
          
          <%= fields_for @badge_map do |u| %>
          
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :required_score %>
            </div>
            <div class="col-9">
              <%= u.number_field :required_score, :max => 2000 %>
            </div>
          </div>
          
          <small style="color: grey;">(Prestige indicates the level of achievement for a badge, 1 being the lowest and 5 being the highest. 4 and 5 are reserved for extremely challenging tasks. Please employ restraint when designating the badge's prestige.)</small>
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :prestige %>
            </div>
            <div class="col-9">
              <%= u.select :prestige, options_for_select([['1 - Easiest', 1], ['2', 2], ['3', 3], ['4', 4], ['5 - Hardest', 5]], 1), {}, { :class => 'custom-select' } %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= u.label :description %>
            </div>
            <div class="col-9">
              <%= u.text_area :description %>
            </div>
          </div>
          
          <% end %>
          
      </div>
    </div>
  </div>
  </div>
<% end %>
