<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <p class="h2">
        Challenge List
        <a class="btn btn-primary" style="margin-bottom: 0.5rem;" href="<%= new_challenge_path %>">
        <span class="fa fa-plus"></span> Create Challenge
        </a>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ICO</th>
            <th scope="col">PAR</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Frequency</th>
            <th scope="col">Eliminations?</th>
            <th scope="col">Creator</th>
            <th scope="col"><i class="fa fa-pencil" aria-hidden="true"></i></th>
            <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @activeChallenges.each do |challenge| %>
          <tr>
            <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px", :alt => "bdg" %></td>
            <td><%= raw getParticipationIcon(getUserParticipationLevel(current_user, challenge, true)) %></td>
            <td><%= link_to challenge.name, challenge %></td>
            <td>Active</td>
            <td><%= dateToShortString(challenge.start_date) %></td>
            <td><%= dateToShortString(challenge.end_date) %></td>
            <td><%= postfrequencyToString(challenge.postfrequency, false) %></td>
            <td>
              <% if challenge.streak_based %>
              Yes
              <% else %>
              No
              <% end %>
            </td>
            <td><%= getChallengeCreator(challenge.creator_id) %></td>
            <% if logged_in? && !challenge.creator_id.nil? && challenge.creator_id == current_user.id %>
            <td><a class="btn btn-primary" href=<%= "/#{challenge.id}/edit" %>><i class="fa fa-pencil"></i></a></td>
            <% else %>
            <td></td>
            <% end %>
            <td></td>
          </tr>
          <% end %>
          <% @upcomingChallenges.each do |challenge| %>
          <tr>
            <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px", :alt => "bdg" %></td>
            <td><%= raw getParticipationIcon(getUserParticipationLevel(current_user, challenge, false)) %></td>
            <td><%= link_to challenge.name, challenge %></td>
            <td>Upcoming</td>
            <td><%= dateToShortString(challenge.start_date) %></td>
            <td><%= dateToShortString(challenge.end_date) %></td>
            <td><%= postfrequencyToString(challenge.postfrequency, false) %></td>
            <td>
              <% if challenge.streak_based %>
              Yes
              <% else %>
              No
              <% end %>
            </td>
            <td><%= getChallengeCreator(challenge.creator_id) %></td>
            <% if logged_in? && !challenge.creator_id.nil? && challenge.creator_id == current_user.id %>
            <td><a class="btn btn-primary" href=<%= "/#{challenge.id}/edit" %>><i class="fa fa-pencil"></i></a></td>
            <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
          </tr>
          <% end %>
          <% @completedChallenges.each do |challenge| %>
          <tr style="color: grey;">
            <td><%= image_tag getBadgeImage(challenge.badges.first), :width => "25px", :alt => "bdg" %></td>
            <td><%= raw getParticipationIcon(getUserParticipationLevel(current_user, challenge, false)) %></td>
            <td><%= link_to challenge.name, challenge %></td>
            <td>Completed</td>
            <td><%= dateToShortString(challenge.start_date) %></td>
            <td><%= dateToShortString(challenge.end_date) %></td>
            <td><%= postfrequencyToString(challenge.postfrequency, false) %></td>
            <td>
              <% if challenge.streak_based %>
              Yes
              <% else %>
              No
              <% end %>
            </td>
            <td><%= getChallengeCreator(challenge.creator_id) %></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
