<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
  <div class="row">
  <div class="col-lg-6">
	  <div class="card">
	  <div class="card-header"><b>Challenge Details</b></div>
      <div class="card-body">
    

        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :name %> <br>
          </div>
          <div class="col-9">
            <%= @challenge.name %>
          </div>
        </div>

    
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :description %>
          </div>
          <div class="col-9">
            <%= @challenge.description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :start_date %>
          </div>
          <div class="col-9">
            <%= dateToString(@challenge.start_date) %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :end_date %>
          </div>
          <div class="col-9">
            <%= dateToString(@challenge.end_date) %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :streak_based %>
          </div>
          <div class="col-9">
            <% if @challenge.streak_based %>
              Yes
            <% else %>
              No
            <% end %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :postfrequency %>
          </div>
          <div class="col-9">
            <%= postfrequencyToString(@challenge.postfrequency) %>
          </div>
        </div>
  
      </div>
    </div>
    
    <div class="card">
      <div class="card-header"><b>Reward</b></div>
      <div class="card-body">
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag "Badge Name" %>
            </div>
            <div class="col-9">
              <%= @badge.name %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag "Badge Appearance" %>
            </div>
            <div class="col-9">
              <%= image_tag getBadgeImage(@badge) %>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Score</th>
                  <th scope="col">Prestige</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% @badge_maps.each do |badgemap| %>
                  <tr>
                    <td><%= badgemap.required_score %></td>
                    <td><%= badgemap.prestige %></td>
                    <td><%= badgemap.description %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          
      </div>
    </div>
    
  </div>
  
  <div class="col-lg-6">
    <% if @challenge.id == 1 && !@latestEliminations.blank? %>
    <div class="card">
      <div class="card-header" style="color: red;">
        <b>Last Week's Eliminations</b>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">User</th>
              <th scope="col">Final Score</th>
              <th scope="col">Join Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Post Frequency</th>
            </tr>
          </thead>
          <tbody>
            <% @latestEliminations.each do |participation| %>
              <tr>
                <td><%= participation.user.name %></td>
                <td><%= participation.score %></td>
                <td><%= dateToString(participation.created_at.to_date) %></td>
                <td><%= dateToString(participation.end_date) %></td>
                <td><%= postfrequencyToString(getUserDADFrequency(participation.user)) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
    
    <div class="card">
      <div class="card-header">
        <b>Current Participant List</b>
        <% if !@challenge.creator_id.blank? %>
          <% if userIsInChallenge(current_user, @challenge) %>
            <%= link_to "Leave Challenge", challenge_path(@challenge, :leave => true), :class => "btn btn-primary", :style => 'float: right; margin-top: -0.375rem; margin-bottom: -0.375rem;' %>
          <% else %>
            <%= link_to "Join Challenge", challenge_path(@challenge, :join => true), :class => "btn btn-primary", :style => 'float: right; margin-top: -0.375rem; margin-bottom: -0.375rem;' %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body table-responsive">
        
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">User</th>
              <th scope="col">Current Score</th>
              <th scope="col">Join Date</th>
              <% if @challenge.id != 1 %>
                <th scope="col">End Date</th>
              <% end %>
              <% if @challenge.id == 1 %>
                <th scope="col">Post Frequency</th>
              <% end %>
              <% if @challenge.streak_based && @challenge.id != 1 %>
                <th scope="col">Eliminated?</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @currentParticipants.each do |participation| %>
              <tr>
                <td><%= participation.user.name %></td>
                <td><%= participation.score %></td>
                <td><%= dateToString(participation.created_at.to_date) %></td>
                <% if @challenge.id != 1 %>
                  <td><%= dateToString(participation.end_date) %></td>
                <% end %>
                <% if @challenge.id == 1 %>
                  <td><%= postfrequencyToString(getUserDADFrequency(participation.user)) %></td>
                <% end %>
                <% if @challenge.streak_based && @challenge.id != 1 %>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
            <% if !@allEliminations.blank? %>
              <% @allEliminations.each do |participation| %>
              <tr>
                <td><%= participation.user.name %></td>
                <td><%= participation.score %></td>
                <td><%= dateToString(participation.created_at.to_date) %></td>
                <td><%= dateToString(participation.end_date) %></td>
                <td><%= "Eliminated" %></td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>

    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>

<%= link_to 'Back', root_path %>