<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
  <div class="row">
  <div class="col-lg-6">
	  <div class="card">
	  <div class="card-header"><b>Challenge Details</b></div>
      <div class="card-body">
    

        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :name %> <br>
          </div>
          <div class="col-9">
            <%= @challenge.name %>
          </div>
        </div>

    
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :description %>
          </div>
          <div class="col-9">
            <%= @challenge.description %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :start_date %>
          </div>
          <div class="col-9">
            <%= dateToString(@challenge.start_date) %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :end_date %>
          </div>
          <div class="col-9">
            <%= dateToString(@challenge.end_date) %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :streak_based %>
          </div>
          <div class="col-9">
            <% if @challenge.streak_based %>
              Yes
            <% else %>
              No
            <% end %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-3">
            <%= label_tag :postfrequency %>
          </div>
          <div class="col-9">
            <%= postfrequencyToString(@challenge.postfrequency) %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header"><b>Reward</b></div>
      <div class="card-body">
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag "Badge Name" %>
            </div>
            <div class="col-9">
              <%= @badge.name %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag "Badge Appearance" %>
            </div>
            <div class="col-9">
              <%= image_tag getBadgeImage(@badge) %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag :required_score %>
            </div>
            <div class="col-9">
              <%= @badge_map.required_score %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag :prestige %>
            </div>
            <div class="col-9">
              <%= @badge_map.prestige %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-3">
              <%= label_tag :description %>
            </div>
            <div class="col-9">
              <%= @badge_map.description %>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  </div>

    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>

<%= link_to 'Back', root_path %>