<nav class="navbar navbar-expand-lg static-top">
  <!-- Brand -->
  <div class="navbar-translate">
    <a class="navbar-brand" href="/">
      <img src="https://s3.us-east-2.amazonaws.com/do-art-daily-public/DAD+Badge.png"></img>
      <span class="navbar-title">
        DAD
      </span>
    </a>
      
    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
      <li class="nav-item dropdown" data-behavior="notifications">
        <a class="nav-link drophover" data-behavior="notifications-link">
          <i class="fa fa-bell"></i><span class="badge badge-info" data-behavior="unread-count"></span>
        </a>
        <div class="dropdown-content" data-behavior="notification-items">
          <a>You're all caught up!</a>
          <a href='/notifications'>View All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-submit" href="<%= new_submission_path %> " title="Submit your art!">
          <i class="fa fa-upload"></i>
          Submit
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" <%= submissions_path %> " title="See today's submissions.">
          <i class="fa fa-eye"></i>
          Browse
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" <%= challenges_path %> " title="Join and create challenges.">
          <i class="fa fa-bolt"></i>
          Challenges
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news" rel="tooltip" title="Get info on the latest updates and development news.">
          <i class="fa fa-newspaper-o"></i>
          News
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" <%= users_path %>" title="Peruse the user list and leaderboards.">
          <i class="fa fa-users"></i>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_path(current_user) %>" title="Preview and modify your profile.">
          <i class="fa fa-user"></i>
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= logout_path %>" data-method="delete" title="Log out of your account.">
          <i class="fa fa-sign-out"></i>
          Log out
        </a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="#login-modal" data-toggle="modal" title="Sign in, or create an account on DAD!">
          <i class="fa fa-sign-in"></i>
          Login/Register
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


<div class="modal hide fade" id="login-modal" role="dialog" title="Login/Register">
  <%= render 'layouts/login_modal' %>
</div>